#header-div{
  display : flex;
  flex-direction : row; /*row是水平排列，column是垂直排列*/
  border : solid 1px gray;
  height : 70px;
  align-items : center;
  width:100%;
  
   position: fixed;  /*固定不动 */
   z-index: 9999; /* 确保在最上层 */
   opacity: 1;
   background-color: white;
   margin-top:0px;

}

.header-button{
  position: relative;
  width:40px;
  height:40px;
  border:none;
  margin-left : 20px;
}

.header-image{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  background-color:white;
} 

#header-button2{
  width:150px;
  margin-right:20px;
}

#header-button1{
  margin-left : 0;
}

#header-input{
  height:40px;
  width:520px;
  margin-left:80px;
 
}

#header-button4 :active{
  background-color:gray;
  
}

#header-button5{
  margin-right:200px;
}

.header-button :hover{
   cursor:pointer;
}








