#main-div{
  padding-left:110px;
  padding-top:110px;
  display : grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap:60px;
  position: relative;
  

  
}

.main-video-preview-div{
  width:300px;
  height:400px;
  min-width:300px;
  min-height:400px;
  max-width:500px ;
  max-height:500px ;

}

.main-image{
  width:300px;
  height:300px;
}

.main-video-and-videoTime {
  position: relative; /* 定位上下文 */
  display: inline-block; /* 根据需要调整显示方式 */
}

.main-imageTime {
  position: absolute;
  bottom: 10px; /* 距离底部 10px，根据需要调整 */
  right: 10px;  /* 距离右侧 10px，根据需要调整 */
  background-color: rgba(0, 0, 0, 0.6); /* 可选：背景色增强可读性 */
  color: #fff;  /* 可选：文字颜色 */
  padding: 2px 4px; /* 可选：内边距 */
  border-radius: 2px; /* 可选：圆角效果 */
  font-size: 0.9em; /* 可选：调整字体大小 */
}

.main-authorImage-and-videoTitle{
  display:flex;
  justify-content:center;
  align-items:center;
  column-gap: 20px;
}


.main-authorImage{
  border-radius : 100%;
  width : 50px;
  height:50px;
}
.main-authorName-and-videoViews{
  display:flex;
  flex-direction : column;
  justify-content: center;
  margin-left : 70px;
  
  row-gap: 4px;;

}
.main-authorName-and-videoViews p {
  
  margin: 0;
  font-size: 12px;
  color:gray;
  /* 如果需要可以添加适当的内边距或间距 */
}

.main-link-to-author-website ,.main-video-link{
  color: inherit;
  text-decoration: none; /* 如果需要去掉下划线 */
}

.main-videoTitle {
  font-family:Arial;
  font-weight: bold;
  font-size:18px;

}
